//css viejo

*{
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
}

html{
	font-size: 62.5%
}


body{
	background-color: $mainColor;
	line-height: 1.6;
}

h1{
	font-size: $textLg;
}

h2{
	font-size: $textMd;
}

h3{
	font-size: $textSm;
}

ol, ul{
    list-style: none
}

p{
	line-height: 2rem;
	font-size: 1.6rem;
}

a{
	text-decoration: none;
}


/* selectores de clases generales*/

.textCenter{
	text-align: center
}

.bgVerde{
	background-color:$secondaryColor ;
}

/*MAIN*/
.main .section1, .section2 {
	background-color: white;
	width: 70%;
	margin: 0 auto;
	padding: 20px 20px;
	box-sizing: border-box;
	border-radius: 5px;
	/*display flex
	display: flex;
	flex-direction: column;
	align-items: center;*/
}
	.main .section1 figure, .section2 figure{
		/*width: 50%;*/
		font-size: 1.5rem;
		text-align: center;
		padding-bottom: 10px;
		/*display flex		display: flex;
		flex-direction: column;
		align-items: center;*/
}	

.main .section1 figure img, .section2 figure img{
	width: 100px;
}

.main h2{
		font-size: 1.5rem;
		background-color: #c0eb75;
		width: 70%;
		margin: 20px auto;
		border-style: solid;
		border-color: #5c940d;
		border-width: 2px;
		border-radius: 5px;
		}	

.main .section3{
	text-align: center;
	margin: 10px auto;

	h3{
	font-size: 1.5rem;
	}

}	